@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Hurricane&family=Kanit:ital,wght@1,600&family=Poppins:ital,wght@0,400;0,800;1,200;1,300;1,600&family=Rubik:wght@600&display=swap');
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* navbar */

.nav-bar {
  margin: 1rem;
  width: 90%;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Poppins";
}
.title img{
  width: 30%;
}
.title h1{
  text-decoration: none;
  color: black;
}

.log {
  text-align: right;
  font-family: 'Rubik';
}

.login {
  background: gray;
  border: none;
}
/* content */

.content {
  width: 95%;
  display: grid;
  grid-template-columns: 35% 65%;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .content {
      display: flex;
      flex-direction: column;
  }
}

.form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-box{
  padding: .5em;
  margin: .5em;
}

.form button{
  margin: .3rem;
}

/* post */

.posts {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  margin-left: 1rem;
}

.post {  
  margin-bottom: 1rem;
}
.post-button{
  text-align: right;
}

.post-button button{
  background: none;
  border: none;
}

.post-button button .fa-pen-to-square{
  color: gray;
}

.post-button button .fa-pen-to-square:hover{
  color: rgba(143, 140, 140, 0.611);
  transform: scale(1.1);
}

.post-button button .fa-trash{
  color: #e41700e1;
}

.post-button button .fa-trash:hover{
  color: #f44b39;
  transform: scale(1.1);
}

.post-content{
  display: grid;
  grid-template-columns: 60% 40%;
}


.post-image{
  width: 90%;
}

.tags {
  word-wrap: break-word
}

.post-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.post-footer button{
  background: none;
  border: none;
}

.post-footer button i{
 color: #F73056;
}

.post-footer button:hover{
  transform: scale(1.1);
}

